<div class="mat-elevation-z8">
    <table mat-table [dataSource]="datasource">
        <ng-container matColumnDef="infosUser">
            <td mat-cell *matCellDef="let user">
                <p>{{ user.email }}</p>
                <p>{{ user.role }}</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="ItemsUser">
            <td mat-cell *matCellDef="let user">
                <p *ngIf="user.nbplaylist">{{ user.nbplaylist }} playlists</p>
                <p *ngIf="user.nbads " >{{ user.nbads }} ads</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="options">
            <td mat-cell *matCellDef="let user">
                <button mat-button (click)="openDialogUser(user.idUser,1)"><mat-icon>edit</mat-icon></button>
                <button (click)="openDialogUser(user.idUser,2)"><mat-icon>delete</mat-icon></button>
            </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: colonnes;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons>
        </mat-paginator>
</div>