<img src="assets\img\Logo.png" alt="youtube logo" id="logoYT">

<form [formGroup]="CreateAccountControl" (ngSubmit)="onSubmitAccountCreation()" id="formCreation">
    <label class="labelCreation">Email</label>
    <input id="mail" type="email" formControlName="mailUser" placeholder="theboringcompany@gmail.com">
    <label class="labelCreation">Password</label>
    <input id="password" type="password" formControlName="mdpUser">
    <label class="labelCreation">Confirm password</label>
    <input id="passConfirm" type="password" formControlName="mdpConfirm">
    <input id="creationAccount" type="submit" value="Sign up">
</form>

<img src="assets\img\Group 112.png" alt="site logo" id="logoSite1">
<p id="copyrightText">The boring company © 2021</p>
<img src="assets\img\remote-control 1.png" alt="remote" id="logoRemote">