#logoYT {
    width: 127.27px;
    height: 28px;
}

#top_bar{
    display: flex;
    flex-direction: row;
    padding: 2%;
    gap: 85%;
}

#homeButton{
    width: 36px;
    height: 36px;
}

#contenu {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30%;
}

#formCreation {
    width: 480px;
    height: 686px;
    padding: 0px;
}

#logoSite1{
    width: 365px;
    height: 365px;
}

#copyrightText{
    width: 369px;
    height: 33px;
    
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
    letter-spacing: 0.1em;
    
    /* black/2 5 */
    
    color: #444B59;    
}

#logoRemote{
    width: 155.8px;
    height: 164.32px;
}

#mail {
    /* Frame 4 */
    /* Auto Layout */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 32px;

    width: 480px;
    height: 72px;

    
    /* white */
    
    background: #FFFFFF;
    /* dark blue /1 8 */
    
    border: 2px solid #789ADE;
    box-sizing: border-box;
    border-radius: 80px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
}

#password {
    /* Frame 4 */

    /* Auto Layout */
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    
    width: 480px;
    height: 72px;
    
    /* white */
    
    background: #FFFFFF;
    /* dark blue /1 8 */
    
    border: 2px solid #789ADE;
    box-sizing: border-box;
    border-radius: 80px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
}


.labelCreation{
    /* Confirm password */

    width: 273px;
    height: 38px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.1em;

    /* black/2 5 */

    color: #444B59;
}

#passConfirm{
    /* Frame 4 */


    /* Auto Layout */
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    
    width: 480px;
    height: 72px;
    
    /* white */
    
    background: #FFFFFF;
    /* dark blue /1 8 */
    
    border: 2px solid #789ADE;
    box-sizing: border-box;
    border-radius: 80px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
}

#creationAccount{
    /* Sign up */

    /* Auto Layout */
    padding: 0px;
    
    width: 480px;
    height: 70.24px;
    
    /* blue /2 7 */
    
    background: #8699DA;
    box-shadow: 4px 8px 12px rgba(78, 99, 141, 0.06), inset 0px 4px 12px rgba(200, 211, 249, 0.6);
    border-radius: 80px;

    /* Sign Up */

    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.1em;

    /* white */

    color: #FFFFFF;
}

#websiteLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 18%;
}

