<mat-dialog-content>
    <h3> {{ titleMessage }} </h3>

    <p *ngIf="dialogType === 'editAds' && accountRole === 'admin'" id="mailAd"> Advertisement from {{ advertiserMail }} </p>
    <div id="AdvertForm">
        <label>Advertisement name :</label>
        <div class="AdvertInputs" *ngIf="!nameRequired">
            <input type="text" name="adName" id="NameAd" [(ngModel)]="adName"/>
        </div>

        <div class="AdvertInputsError" *ngIf="nameRequired">
            <input type="text" name="adName" id="NameAd" [(ngModel)]="adName"/>
        </div>

        <p *ngIf="nameRequired" id="requiredError">Please enter a name for your Advertisement</p>

        <input type="file" />
        <button id="uploadButton" (click)="uploadAd()"> Upload file </button>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button id="saveButton" (click)="OnSaveData()"> {{ SavebuttonText }} </button>
    <button id="cancelButton" mat-dialog-close>Cancel </button>
</mat-dialog-actions>
